/*Estilos para Alkimia*/
/*========================================
            COLORES

#EFF9F0 gris
#698996 azul
#E9E3E6 rosa
#91C499 verde
#F5CB5C amarillo
==========================================*/
body {
    font-family: "Quicksand", sans-serif;
}
html,body{
    height: 100%;
}
/*Estilo Index
===========================================*/
#index{
    height: 100%;
    margin: 0px;
}
#intro-fondo{
    height: 100%; 
    background-image: url("../img/intro-fondo.jpg");
    background-repeat: no-repeat;
}
#intro-fondo h3{
 color: #fff;  
 font-size: 27px;
 font-weight: 400;
}
#intro-fondo h2{
    color: #fff;
    font-size: 80px;
    font-weight: 700; 
}   
#intro-aire{
    width: 100%;
    height: 100%;
}
#intro-contenido{
    padding: 15% 0 0 35%;
}
#cuadro{
border: solid 1px #fff;
float: right;
position: absolute;
transform: translate(225px, -35px);
}
#cuadro-contenido{
    margin: 10px;
    background-color: rgba(199,199, 159, 0.4);
    text-align: center;
    padding: 20px;
}
#cuadro-contenido h3{
    margin: 0;
}
#cuadro-contenido h2{
    margin: 0;
}

/*Estilo Nosotros
===========================================*/
#nosotros{
   height: 100%;
   margin: 0;
   padding: 0px;
}
#nosotros-todo{
  height: 100%;
}

.nosotros-imagen{
    background-image: url("../img/imagen1-qs.jpg");
    background-repeat: no-repeat;
    margin: 0px;
    
}
.nosotros-contenedor{
    height: 100%;
}
.nosotros-fila-imagen{
    height: 50%;
}
.nosotros-imagen{
    height: 100%;  
}
.nosotros-descripciones{
    height: 50%; 
}
.norotros-columna{
    height: 100%;
}
.columna-descripcion{
    text-align:justify;
    padding: 15px 25px 0px 25px;
    color: #5d5d5d
}
.columna-imagen{
    text-align:center;
}

#nosotros-todo h1{
    color: #423346;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}
#nosotros-todo h2{
    color: #9fa6bd;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

/*Estilo Misión
===========================================*/
#mision{
    height: 100%;
    margin: 0;
    padding: 0px;
 }
#mision-todo{
  height: 100%;
  background-image: url("../img/mision-fondo-2.jpg");
  background-repeat: no-repeat;
}
#mision-contenedor{
    height: 100%; 
    
}
.columna-texto{
    text-align:justify;
    padding: 200px 25px 0px 80px;
    color: #5d5d5d
}
#mision-todo h2{
    color: #5d5d5d;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}
.columna-circulo{
    text-align:justify;
    padding: 150px 25px 0px 80px;
}
.columna-geometria{
    padding: 70px 25px 0px 80px;
}
.columna-palabras{
    padding: 80px 0px 0px 0px;
    color: #5d5d5d;
    font-weight: 400;
    font-size: 40px;
}